In [26]:
import pandas as pd
import numpy as np

In [110]:
df = pd.read_csv('4IZ481_Yelp2/dataset/businesses.csv')
df.head(3)

,hours.Wednesday,attributes.RestaurantsDelivery,attributes.Open24Hours,attributes.DogsAllowed,attributes.CoatCheck,postal_code,attributes.Smoking,hours.Thursday,attributes.DietaryRestrictions,city,...,hours.Sunday,attributes.GoodForMeal,attributes.GoodForDancing,attributes.Caters,attributes.AcceptsInsurance,attributes.RestaurantsReservations,attributes,attributes.RestaurantsTakeOut,attributes.BikeParking,attributes.OutdoorSeating
0,NaN,NaN,NaN,NaN,NaN,97210,NaN,10:0-16:0,NaN,Portland,...,10:0-16:0,NaN,NaN,NaN,NaN,NaN,"{'BusinessAcceptsCreditCards': 'True', 'Restau...",NaN,NaN,NaN
1,6:0-21:0,False,NaN,False,NaN,2128,NaN,6:0-21:0,NaN,Boston,...,6:0-21:0,"{'dessert': None, 'latenight': False, 'lunch':...",False,False,NaN,False,"{'Alcohol': ""u'full_bar'"", 'HasTV': 'True', 'N...",True,False,False
2,11:0-22:0,True,NaN,False,False,78735,u'no',16:30-22:0,NaN,Austin,...,11:0-22:0,"{'dessert': None, 'latenight': False, 'lunch':...",False,True,NaN,True,"{'Alcohol': ""u'full_bar'"", 'HasTV': 'True', 'N...",True,False,None

In [111]:
df['attributes.GoodForMeal'] = df['attributes.GoodForMeal'].replace(np.NaN, "{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'brunch': False, 'breakfast': False}")

In [112]:
df['attributes.GoodForMeal']

0      {'dessert': False, 'latenight': False, 'lunch'...
1      {'dessert': None, 'latenight': False, 'lunch':...
2      {'dessert': None, 'latenight': False, 'lunch':...
3      {'dessert': None, 'latenight': False, 'lunch':...
4      {'dessert': False, 'latenight': False, 'lunch'...
                             ...
351    {'dessert': False, 'latenight': False, 'lunch'...
352    {'dessert': False, 'latenight': False, 'lunch'...
353    {'dessert': False, 'latenight': False, 'lunch'...
354    {'dessert': False, 'latenight': True, 'lunch':...
355    {'dessert': False, 'latenight': None, 'lunch':...
Name: attributes.GoodForMeal, Length: 356, dtype: object

In [113]:
df['attributes.GoodForMeal'] = df['attributes.GoodForMeal'].astype(str)

In [114]:
df['attributes.GoodForMeal'] = df['attributes.GoodForMeal'].map(lambda x: dict(eval(x)))

In [115]:
dfGFM = pd.json_normalize(df['attributes.GoodForMeal'])

dessert  latenight  lunch  dinner  brunch  breakfast
False    False      False  False   False   False        72
                    True   True    False   False        47
                    False  True    False   False        32
                    True   False   True    True         10
                                   False   False         9
                    False  False   True    True          6
         True       True   True    False   False         5
                    False  True    False   False         5
                           False   False   False         4
True     False      True   True    True    False         2
                    False  False   False   True          2
False    False      True   True    True    True          2
                    False  False   False   True          2
                    True   True    True    False         2
                           False   False   True          2
True     True       True   True    True    True          2
         False      True   False   False   True          1
                                   True    True          1
False    False      False  False   True    False         1
True     True       True   True    True    False         1
dtype: int64

In [109]:

# import json
# print (pd.concat([df,pd.DataFrame(df["attributes.GoodForMeal"].apply(json.loads).to_list())],axis=1).drop("attributes.GoodForMeal",axis=1))

,hours.Wednesday,attributes.RestaurantsDelivery,attributes.Open24Hours,attributes.DogsAllowed,attributes.CoatCheck,postal_code,attributes.Smoking,hours.Thursday,attributes.DietaryRestrictions,city,...,attributes,attributes.RestaurantsTakeOut,attributes.BikeParking,attributes.OutdoorSeating,dessert,latenight,lunch,dinner,brunch,breakfast
0,NaN,NaN,NaN,NaN,NaN,97210.0,NaN,10:0-16:0,NaN,Portland,...,"{'BusinessAcceptsCreditCards': 'True', 'Restau...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6:0-21:0,False,NaN,False,NaN,2128.0,NaN,6:0-21:0,NaN,Boston,...,"{'Alcohol': ""u'full_bar'"", 'HasTV': 'True', 'N...",True,False,False,NaN,NaN,NaN,NaN,NaN,NaN
2,11:0-22:0,True,NaN,False,False,78735.0,u'no',16:30-22:0,NaN,Austin,...,"{'Alcohol': ""u'full_bar'"", 'HasTV': 'True', 'N...",True,False,None,NaN,NaN,NaN,NaN,NaN,NaN
3,11:0-21:0,True,NaN,False,NaN,30308.0,NaN,11:0-21:0,NaN,Atlanta,...,"{'Alcohol': ""'full_bar'"", 'HasTV': 'True', 'No...",True,True,None,NaN,NaN,NaN,NaN,NaN,NaN
4,0:0-0:0,NaN,NaN,NaN,NaN,32827.0,NaN,0:0-0:0,NaN,Orlando,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,False,None,True,False,False
352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,False,False,False,False,False
353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,False,True,None,None,False
354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,True,False,True,False,False
355,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,None,False,True,False,False

AttributeError: 'NoneType' object has no attribute 'replace'

    dessert latenight  lunch dinner brunch breakfast
0     False     False  False  False  False     False
1       NaN     False   True   True  False       NaN
2       NaN     False   True   True    NaN     False
3       NaN     False   True   True  False     False
4     False     False  False  False  False     False
..      ...       ...    ...    ...    ...       ...
351   False     False    NaN   True  False     False
352   False     False  False  False  False     False
353   False     False   True    NaN    NaN     False
354   False      True  False   True  False     False
355   False       NaN  False   True  False     False

[356 rows x 6 columns]

False    261
True      21
Name: dessert, dtype: int64

In [116]:
dfGFM = dfGFM.fillna(value=np.nan)

In [117]:
dfGFM = dfGFM.replace(np.nan, False)

In [121]:
dfGFM = dfGFM.add_prefix('meals_')
dfGFM

,meals_dessert,meals_latenight,meals_lunch,meals_dinner,meals_brunch,meals_breakfast
0,False,False,False,False,False,False
1,False,False,True,True,False,False
2,False,False,True,True,False,False
3,False,False,True,True,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
351,False,False,False,True,False,False
352,False,False,False,False,False,False
353,False,False,True,False,False,False
354,False,True,False,True,False,False
355,False,False,False,True,False,False

In [122]:
dfTest = pd.concat([df,dfGFM],axis=1)

In [124]:
dfTest[['attributes.GoodForMeal','meals_dessert','meals_latenight',
        'meals_lunch','meals_dinner','meals_brunch','meals_breakfast']].head(20)

,attributes.GoodForMeal,meals_dessert,meals_latenight,meals_lunch,meals_dinner,meals_brunch,meals_breakfast
0,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False
1,"{'dessert': None, 'latenight': False, 'lunch':...",False,False,True,True,False,False
2,"{'dessert': None, 'latenight': False, 'lunch':...",False,False,True,True,False,False
3,"{'dessert': None, 'latenight': False, 'lunch':...",False,False,True,True,False,False
4,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False
5,"{'dessert': False, 'latenight': True, 'lunch':...",False,True,False,True,False,False
6,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,True,False,False
7,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,True,True,False,False
8,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False
9,"{'dessert': True, 'latenight': False, 'lunch':...",True,False,True,True,True,False
10,"{'dessert': None, 'latenight': None, 'lunch': ...",False,False,True,True,False,False
11,"{'dessert': False, 'latenight': None, 'lunch':...",False,False,False,True,False,False
12,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,True,False,False
13,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,True,False,True,True
14,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,True,True,False,False
15,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False
16,"{'dessert': False, 'latenight': True, 'lunch':...",False,True,False,False,False,False
17,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False
18,"{'dessert': None, 'latenight': False, 'lunch':...",False,False,True,False,True,True
19,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False

In [125]:
df['attributes.Ambience'].head(5)

0                                                  NaN
1    {'touristy': None, 'hipster': False, 'romantic...
2    {'touristy': False, 'hipster': False, 'romanti...
3    {'touristy': False, 'hipster': False, 'romanti...
4                                                  NaN
Name: attributes.Ambience, dtype: object

In [132]:
df['attributes.Ambience'] = df['attributes.Ambience'].replace(np.NaN,
        "{'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': False, 'casual': False}")

df['attributes.Ambience'] = df['attributes.Ambience'].astype(str)
df['attributes.Ambience'] = df['attributes.Ambience'].map(lambda x: dict(eval(x)))
dfAmb = pd.json_normalize(df['attributes.Ambience'])
dfAmb = dfAmb.replace(np.nan, False) 
dfAmb = dfAmb.add_prefix('Ambience_')
dfAmb.head(5)

,Ambience_touristy,Ambience_hipster,Ambience_romantic,Ambience_divey,Ambience_intimate,Ambience_trendy,Ambience_upscale,Ambience_classy,Ambience_casual
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,True
2,False,False,True,False,False,True,False,True,True
3,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False